html {
  background-image: url("../images/image_summer-1.png");
  background-position: bottom center;
  background-size: cover;
  border: #8F2762;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.main {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

nav {
  height: 66px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url("../images/icons/logo_pineapple.svg");
  background-repeat: no-repeat;
  background-position: 20px 10px;
}

nav li {
  list-style: none;
}

.menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #6A707B;
  width: 206px;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #6A707B;
}

.page {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.content {
  width: 335px;
  height: 371px;
  background: linear-gradient(180deg, #ffffff, #F2F5FA);
}

#contentSuccess {
  display: none;
  width: 335px;
  height: 371px;
  background: linear-gradient(180deg, #ffffff, #F2F5FA);
}

#successIcon {
  margin: 29px 20px;
}

#subscribe-success-1 {
  font-family: Georgia, serif;
  font-size: 18pt;
  color: #131821;
  margin: 9px 20px;
}

#subscribe-success-2 {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #6A707B;
  line-height: 25px;
  margin: 14px 20px;
}

#contentSuccess hr {
  margin: 40px 20px 0 20px;
}

#contentSuccess .icons {
  margin: 20px 55px;
  width: 215px;
}

#subscribe-txt-1 {
  font-family: Georgia, serif;
  font-size: 18pt;
  color: #131821;
  margin: 33px 20px 0;
}

#subscribe-txt-2 {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #6A707B;
  margin: 13px 20px 0;
  line-height: 26px;
}

#inputHolder {
  margin: 0;
  padding: 0;
  position: relative;
}

input[type=text] {
  width: 275px;
  height: 58px;
  margin: 21px 20px 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #6A707B;
  border: 1px solid #E3E3E4;
  border-left: 4px solid #4066A5;
  padding: 0 0 0 15px;
}

input[type=text]:hover {
  color: #6A707B;
  border: 1px solid #E3E3E4;
  border-left: 4px solid #4066A5;
  box-shadow: 0 30px 40px rgba(19, 24, 33, 0.06);
}

input[type=text]:focus {
  color: #131821;
  border: 1px solid #4066A5;
  border-left: 4px solid #4066A5;
  box-shadow: 0 30px 40px rgba(19, 24, 33, 0.06);
  outline: none;
}

button {
  width: 24px;
  height: 14px;
  border: none;
  color: transparent;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../images/icons/ic_arrow.svg");
  position: absolute;
  top: 42px;
  right: 35px;
}

button:focus {
  background-image: url("../images/icons/ic_arrow-2.svg");
}

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkboxInput {
  display: none;
}

.checkboxBox {
  width: 24px;
  height: 24px;
  border: 1px solid #E3E3E4;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px 0 20px;
  flex-shrink: 0;
}

.checkboxBox::after {
  content: url("../images/icons/ic_checkmark.svg");
  opacity: 0;
}

.checkboxInput:checked + .checkboxBox::after {
  opacity: 100%;
}

.checkboxInput:checked + .checkboxBox {
  border: 1px solid #4066A5;
  background-color: #4066A5;
  opacity: 100%;
}

.terms-of-service {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #6A707B;
  margin: 23px 0 0 5px;
}

.terms-of-service a {
  text-decoration: underline;
  color: #131821;
}

.terms-of-service a:hover {
  text-decoration: underline;
  color: #4066A5;
}

.terms-of-service a:active {
  text-decoration: underline;
  color: #233759;
}

#error {
  color: red;
  font-family: Arial, sans-serif;
  margin-left: 25px;
  margin-top: 10px;
}

#content hr {
  margin: 21px;
}

.icons {
  width: 214px;
  display: flex;
  justify-content: space-between;
  margin: 20px 53px;
}

.facebook {
  width: 42px;
  height: 42px;
  border: 2px solid #E2E3E4;
  border-radius: 50%;
  background-image: url("../images/icons/ic_facebook-2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.facebook:hover {
  border: 2px solid #4267B2;
  background-color: #4267B2;
  background-image: url("../images/icons/ic_facebook-1.svg");
  box-shadow: 0 20px 40px rgba(19, 24, 33, 0.3);
}

.facebook:active {
  border: 2px solid #2F4A80;
  background-color: #2F4A80;
  background-image: url("../images/icons/ic_facebook-1.svg");
  box-shadow: 0 20px 40px rgba(19, 24, 33, 0.3);
}

.instagram {
  width: 42px;
  height: 42px;
  border: 2px solid #E2E3E4;
  border-radius: 50%;
  background-image: url("../images/icons/ic_instagram-2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.instagram:hover {
  border: 2px solid #C13584;
  background-color: #C13584;
  background-image: url("../images/icons/ic_instagram-1.svg");
  box-shadow: 0 20px 40px rgba(19, 24, 33, 0.3);
}

.instagram:active {
  border: 2px solid #8F2762;
  background-color: #8F2762;
  background-image: url("../images/icons/ic_instagram-1.svg");
  box-shadow: 0 20px 40px rgba(19, 24, 33, 0.3);
}

.twitter {
  width: 42px;
  height: 42px;
  border: 2px solid #E2E3E4;
  border-radius: 50%;
  background-image: url("../images/icons/ic_twitter-2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.twitter:hover {
  border: 2px solid #1DA1F2;
  background-color: #1DA1F2;
  background-image: url("../images/icons/ic_twitter-1.svg");
  box-shadow: 0 20px 40px rgba(19, 24, 33, 0.3);
}

.twitter:active {
  border: 2px solid #177FBF;
  background-color: #177FBF;
  background-image: url("../images/icons/ic_twitter-1.svg");
  box-shadow: 0 20px 40px rgba(19, 24, 33, 0.3);
}

.youtube {
  width: 42px;
  height: 42px;
  border: 2px solid #E2E3E4;
  border-radius: 50%;
  background-image: url("../images/icons/ic_youtube-2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.youtube:hover {
  border: 2px solid #FF0000;
  background-color: #FF0000;
  background-image: url("../images/icons/ic_youtube-1.svg");
  box-shadow: 0 20px 40px rgba(19, 24, 33, 0.3);
}

.youtube:active {
  border: 2px solid #CC0000;
  background-color: #CC0000;
  background-image: url("../images/icons/ic_youtube-1.svg");
  box-shadow: 0 20px 40px rgba(19, 24, 33, 0.3);
}

iframe {
  display: none;
}

@media all and (min-width: 770px) {
  html {
    background-image: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%), url("../images/image_summer-1.png");
    background-repeat: no-repeat;
    background-position: left, 680px center;
    background-size: 680px, auto;
  }

  .page {
    display: block;
  }

  header {
    height: 0;
  }

  nav {
    position: relative;
    margin: 95px 80px 0;
    height: 66px;
    width: 520px;
    background-color: transparent;
    background-image: url("../images/icons/logo_pineapple-1.svg");
    background-repeat: no-repeat;
    background-position: 20px 5px;
  }

  .menu {
    font-size: 17px;
    color: #6A707B;
    width: 250px;
  }

  .content {
    width: 550px;
    height: 371px;
    background: transparent;
    position: relative;
    margin: 385px 80px 0;
  }

  input[type=text] {
    width: 618px;
    height: 68px;
    margin: 21px 20px 34px;
    font-size: 16px;
    padding: 0 0 0 40px;
  }

  button {
    top: 48px;
    right: -94px;
  }

  #subscribe-txt-1 {
    font-size: 24pt;
    margin: -6px 61px 0;
  }

  #subscribe-txt-2 {
    margin: 20px 58px 31px;
    font-size: 12pt;
  }

  .checkbox {
    margin: 0 40px 30px;
  }

  #content hr {
    width: 400px;
    margin: 21px 60px;
  }

  .icons {
    margin: 50px 140px;
    width: 240px;
  }

  #contentSuccess {
    display: none;
    width: 400px;
    margin-left: 140px;
    margin-top: 268px;
  }

  #subscribe-success-1 {
    font-family: Georgia, serif;
    font-size: 24pt;
    color: #131821;
    margin-bottom: 26px;
    margin-top: 30px;
  }

  #subscribe-success-2 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #6A707B;
    line-height: 27px;
    margin: 0;
  }

  #contentSuccess hr {
    margin-top: 50px;
  }

  #contentSuccess .icons {
    margin: 50px 77px;
    width: 245px;
  }
}

/*# sourceMappingURL=indexFullScreen.css.map */
