body {
    width: 740px;
    margin: 30px auto;
    font-family: Arial, sans-serif;
    font-size: 14pt;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}
