$light-gradient: linear-gradient(180deg, #ffffff, #F2F5FA);
$icon-shadow: 0 20px 40px rgba(19, 24, 33, 0.3);
$input-shadow: 0 30px 40px rgba(19, 24, 33, 0.06);
$grey-txt: #6A707B;
$iron: #E3E3E4;
$white: #ffffff;
$vulcan: #131821;
$san-marino: #4066A5;
$cloud-burst: #233759;
$facebook-hover: #4267B2;
$facebook-active: #2F4A80;
$instagram-hover: #C13584;
$instagram-active: #8F2762;
$twitter-hover: #1DA1F2;
$twitter-active: #177FBF;
$youtube-hover: #FF0000;
$youtube-active: #CC0000;